<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flow xmlns="http://www.springframework.org/schema/webflow" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/webflow http://www.springframework.org/schema/webflow/spring-webflow-2.0.xsd">


    <view-state id="startState">
        <transition on="go1"   to="endState" />
        <transition on="go2"   to="endState2" />
    </view-state>
    
    <view-state id="endState" >
        <transition on="start" to="startState" />
        <transition on="go"    to="endState2" />
    </view-state>
    
    <view-state id="endState2">
        <transition on="start" to="startState" />
        <transition on="go1"   to="endState" />
    </view-state>
    
    <end-state id="end" />

</flow>
